<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <img src="https://img.freepik.com/free-vector/graident-ai-robot-vectorart_78370-4114.jpg?semt=ais_hybrid" width="320" height="240" alt="Robo Advisor">
        <h2>Welcome to Robo Advisor</h2>
        <form action="/financial_QA" method="post">
            <input type="submit" value="Financial Q&A">
        </form>
        <form action="/joke" method="post">
            <input type="submit" value="Jokes">
        </form>
        <form action="/sentiment" method="post">
            <input type="submit" value="Sentiment Analysis">
        </form>
    </div>
</body>
</html>
