<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Reply</h2>
        {% if sentiment %}
            <h4>Polarity: {{ sentiment.polarity }}</h4>
            <h4>Subjectivity: {{ sentiment.subjectivity }}</h4>
        {% else %}
            <h4>Enter a text to analyze its sentiment.</h4>
        {% endif %}
        <form action="/sentiment" method="post">
            <input type="text" name="t" placeholder="Enter your text here...">
            <input type="submit" value="Submit">
        </form>
        <form action="/" method="post">
            <input type="submit" value="Main">
        </form>
    </div>
</body>
</html>